<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minorproject.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".OrderListActivity" />
        <activity android:name=".VendorProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMBx88UxeKz-alKRm4khPJIL_n8ZVVMuA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SetLocationActivity" />
        <activity android:name=".MyCartActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".ConfirmEmailActivity" />
        <activity android:name=".AllCategoryActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddProductActivity" />
        <activity android:name=".BarChartActivity" />
        <activity android:name=".ShopActivity" />
    </application>

</manifest>